/* Container grid responsive */
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px;
}

/* Ligne contenant 3 colonnes (ou moins en mobile) */
.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

/* Bouton et container */
.button-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.button {
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:5px;
}

/* Chevron ▼ */
.chevron {
    transition: transform 0.3s ease;
}

.button.active .chevron {
    transform: rotate(180deg); /* ▲ */
}

/* Dropdown animation */
.dropdown {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%;
    border-radius:5px;
}

.dropdown.open {
    max-height: 300px;
    opacity: 1;
}

.dropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background-color: #eee;
}

/* Mobile : tout en colonne */
@media screen and (max-width: 768px) {
    .grid-row {
        grid-template-columns: 1fr;
    }
}


/**** Structure la page en deux partie ***/

.graph-builder {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.sidebar {
    flex: 1;
    max-width: 300px;
    border:1px solid #ccc;
    padding:30px;
}

.main-panel {
    flex: 2;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 8px;
}


/** Pour le message d'avertissement lorsqu'un camembert ne peut pas prendre plus d'une séries de données **/

.alert-box {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 12px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.alert-icon {
    font-size: 24px;
    margin-right: 12px;
}
.alert-content {
    flex-grow: 1;
    font-size: 14px;
}
.alert-close {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #721c24;
}
.graph-builder {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.sidebar {
    flex: 1;
    max-width: 400px;
}
.main-panel {
    flex: 2;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 8px;
}




